<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贴纸条</title>
<link rel="stylesheet" type="text/css" href="../css/jScrollPane.css" />
<!--<link rel="stylesheet" type="text/css" href="../css/tip-yellow/tip-yellow.css" />-->
<link rel="stylesheet" type="text/css" href="../css/tip-yellowsimple/tip-yellowsimple.css" />
<link rel="stylesheet" type="text/css" href="../js/jBox/Skins/Brown/jbox.css"/>
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../js/jScrollPane.js"></script>
<script type="text/javascript" src="../js/jquery.poshytip.min.js"></script>
<script type="text/javascript" src="../js/yyapi-1.1.js"></script>
<script type="text/javascript" src="../js/jBox/jquery.jBox-2.3.min.js"></script>
<script type="text/javascript" src="../js/jBox/i18n/jquery.jBox-zh-CN.js"></script>
<script type="text/javascript">
var move, cid, currentUser, isManager = false, targetUser, timer, word, list, ver = 2;
$(function(){
	var tips = $('.tips');
    word = $('.word');
    list = $('.list');
    list[0].style.height = ($(window).height() - 115) + 'px';
    var html = [
        '<div class="edit_con" id="edit_con" style="height:250px;background: url(../images/body_bg.gif) repeat-x #deceb4;">',
        '<ul class="con" style="height:25px;">  ',
        '<li>你想贴的人：</li>' ,
        '<li><span class="name"></span></li>',
        '<div class="clearfix"></div>    ',
        ' </ul>  ',
        ' <ul>',
        ' <li style="margin-top:10px">你想说的话：</li> ',
        '<li class="word_bg"><textarea class="word" title="还可以输入70个字"></textarea></li> ',
        '<div class="clearfix"></div> ',
        '</ul>',
        '<p class="btn_con"><a href="#" class="submit"></a></p>' ,
        '</div>  ',
    ].join('');

    try{
        currentUser = yy.user.getCurrentUserInfo();
        yy.channel.appMsg.addEventListener(IYYChannelAppMsg.APP_LINK_CLICKED,onLinkClicked);
        //member
        if(currentUser.role >= 88){
            yy.channel.userListPopMenu.setPopMenu('贴纸条');
            yy.channel.userListPopMenu.addEventListener(IYYChannelUserListPopMenu.CLICKED,onClicked);
            $('.help').show();
        }
        //manager
        if(currentUser.role >= 150){
            isManager = true;

        }
        cid = yy.channel.getCurrentChannelInfo().longId;

    }catch(e){
    }

    listSticker();

    $.ajax({dataType : 'json', type : 'POST', url : '/user', data : {uid : currentUser.uid}, cache : false, timeout : 10000, contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        success : function(data){
            if(data.v < ver){
                //公告
                $.jBox.messager('<span style="text-indent: 2em">权限开放了！！！<span style="color:green;">嘉宾【绿马】</span>以上级别都能贴了，你还在等什么……赶紧行动吧!<p>如何贴纸条？请把你的小鼠标移到上面的【帮助】。</p></span>'
                        , '通知'
                        , 5000
                        , { buttons: { '我知道了': true }
                            ,submit: function (v, h, f) {
                                $.ajax({dataType : 'json', type : 'POST', url : '/iknow', data : {
                                    uid : currentUser.uid
                                    ,v : ver
                                }, cache : false, timeout : 10000, contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                                    success : function(data){

                                    }
                                });
                                return true;
                            }
                        }
                );
            }
        }
    });

	function onClicked(eventData)
	{
        targetUser = yy.user.getUserInfo(eventData.uid);
        $.jBox(html, {title:'贴纸条', width: 500,  buttons: {}});
		$('.name').text(targetUser.name);
        $('.word').poshytip({
            alignTo: 'target',
            showOn: 'focusin',
            className: 'tip-yellowsimple',
            alignX: 'right',
            alignY: 'center'
        });
	}


    function onLinkClicked(eventData)
    {
        if(eventData.token == 1){
            listSticker();
        }
    }


	$(".main").delegate('.delete', 'click', function(e){
		var stickerId = $(this).attr('stickerId');
        var srcUid = $(this).attr('srcUid');
        currentUser = yy.user.getCurrentUserInfo();
        var isMySticker = false;
        //自己贴的纸条可删除
        if(srcUid == currentUser.uid){
            isMySticker = true;
        }

        if(currentUser.role < 150 && !isMySticker){
            $.jBox.tip('你的不够权限喔，需要红马以上级别才能撕的，要淡定^_^', 'info');
            return;
        }
        $.jBox.confirm("确认撕掉这张纸条吗？", "操作提示",function (v, h, f) {
            if (v == 'ok'){
                $.jBox.tip("正在删除数据...", 'loading');
                $.ajax({dataType : 'json', type : 'POST', url : '/delete', data : {
                    cid : cid,
                    stickerId : stickerId
                }, cache : false, timeout : 10000, contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success : function(data){
                        if(data.result == 0){
                            $.jBox.tip('已撕掉', 'info');
                            listSticker();
                        }else{
                            $.jBox.tip('服务器出错');
                        }
                    }
                    ,error : function(){
                        $.jBox.tip('服务器出错');
                    }
                });

            }
            return true;
        });
	});

    $(window).resize(function(e){
        if(timer) clearTimeout(timer);
        timer = setTimeout(function(){
            if(list.is(':visible')){
                $('.list').jScrollPaneRemove();
                $('.list')[0].style.height = ($(window).height() - 115) + 'px';
                $('.list').jScrollPane({showArrows:false, scrollbarWidth:10, arrowSize:0});
            }
        }, 100);
    });

    //create sticker
    $(document).delegate('.submit', 'click', function(){
        var content = $('.word').val();
        if(content.length > 70){
            $.jBox.tip('你写的字太多了，小纸条hold不住咯：俺最多只能写得下70个字T_T', 'error');
            return;
        }
        if(content.length < 1){
            $.jBox.tip('你什么都没写喔……', 'info');
            return;
        }
        currentUser = yy.user.getCurrentUserInfo();
        if(currentUser.role < 88){
            $.jBox.tip('你的不够权限喔，需要绿马以上级别才能贴的，要淡定^_^', 'info');
            return;
        }
        try{
            var src_nick = currentUser.name;
        }catch(e){
            var src_nick = '--';
        }
        $.jBox.tip('正在提交数据...', 'loading');
        $.ajax({dataType : 'json', type : 'POST', url : '/create', data : {
            content : content,
            cid : cid,
            src_uid : currentUser.uid,
            src_nick : src_nick,
            tar_uid : targetUser.uid,
            tar_nick : $('.name').text()

        }, cache : false, timeout : 10000, contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success : function(data){
                if(data.result == 0){

                    listSticker();

                    try{
                        //send message to the target user
                        yy.channel.appMsg.sendMsgToUsers([targetUser.uid], "您被偷偷的贴了一张纸条", 0, 10, 1);
                    }catch(e){

                    }
                }else{
                    if(data.result == 60002){
                        $.jBox.error('请输入你想说的话');
                        return;
                    }
                    $.jBox.error('服务器出错');
                }
                $.jBox.closeTip();
            }
            ,error : function(){
                $.jBox.error('服务器出错');
                $.jBox.closeTip();
            }
        });
    });

    $('.help').mouseenter(function(){
        $('.help_tips').show();
    });

    $('.help').mouseleave(function(){
        $('.help_tips').hide();
    });

    $('.refresh').click(function(){
        listSticker();
    });

    $(document).delegate('.word', 'keyup', function(){

        var remain = 70 - $('.word').val().length;
        if(remain >= 0){
            $('.word').poshytip('update', '还可以输入' + remain + '个字');
        }else{
            $('.word').poshytip('update', '<span style="color: red">已经超过' + Math.abs(remain) + '个字</span>');
        }

    });
});

function listSticker(){
    $.jBox.close();
    $.jBox.tip('正在获取数据...', 'loading');
    $.ajax({dataType : 'json', type : 'POST', url : '/list', data : {cid : cid },
        cache : false, timeout : 10000, contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        success : function(data){

            var s = [];
            for(var i = 0; i < data.length; i++){
                var isMySticker = false;
                //自己贴的纸条可删除
                if(data[i].src_uid == currentUser.uid){
                    isMySticker = true;
                }
                s.push('<div class="item big" ptip="', data[i].src_nick + '&nbsp;给&nbsp;',
                    data[i].tar_nick+ '&nbsp;贴的纸条"><div class="bg">',
                    isManager || isMySticker ? '<a href="#" class="delete" srcUid="' + data[i].src_uid+ '" stickerId="'+ data[i].id + '"></a>' : '',
                    data[i].content, '</div></div>');
            }
            $('.list').html(s.join(''));
            $('.list').show();
            $('.list').jScrollPane({showArrows:false, scrollbarWidth:10, arrowSize:0});

            $('.item').each(function(index){
                fixFont(this);
            });

            $('.item').poshytip({
                className: 'tip-yellowsimple',
                alignX: 'center',
                alignY: 'bottom'
                ,content : function(){
                    var title = $(this).attr('ptip');
                    var content = $(this).text();
                    return '<div style="color: #8C3901; border-bottom: 1px solid gray;">' + title
                            + '</div><div style="font-weight: normal;word-break: break-all;">' +  content + '</div>';
                }
            });

            $.jBox.closeTip();

        }
    });
}

function fixFont(divObj){
    var lenstr = $(divObj).text().length;
    var rfont;
    if(lenstr <= 5){
        rfont = 32;
    }else if(lenstr > 5 && lenstr <= 10){
        rfont = 26;
    }else if(lenstr > 10 && lenstr <= 20){
        rfont = 20;
    }else if(lenstr > 20 && lenstr <= 30){
        rfont = 15;
    }else if(lenstr > 30 && lenstr <= 40){
        rfont = 13;
    }else if(lenstr > 40 && lenstr <= 50){
        rfont = 12;
    }else if(lenstr > 50 && lenstr <= 60){
        rfont = 11;
    }else{
        rfont = 10;
    }
    divObj.style.fontSize = rfont + "px";
}

function fixFont1(divObj){
	var fontw=12;//parseInt(divObj.style.fontSize);
	var fonth=fontw+2;//初始字体高度
	var width=110;//str.offsetWidth DIV的宽度
	var height=95;//divObj.offsetHeight;//div的高度
	var lenstr=$(divObj).text().length;//getLength($(divObj).text());//DIV里文字长度
	// console.debug(lenstr);
    if(lenstr <= 0) return;
	fonts=fontw*fonth*lenstr;//字体面积
	divs=width*height;//DIV面积
	//  console.debug(fontw + ',' + fonth + ',' + lenstr+ ',' + fonts + ',' + divs);
    var rfont;//重设字体大小为rfont
    if(lenstr <= 6){
        rfont=Math.round((Math.sqrt(4*lenstr*divs-4*lenstr*lenstr)-2*lenstr)/(2*lenstr) * 0.6);
        divObj.style.fontSize=rfont+"px";
        return;
    }
	rfont=Math.round((Math.sqrt(4*lenstr*divs-4*lenstr*lenstr)-2*lenstr)/(2*lenstr));
	divObj.style.fontSize=rfont+"px";

}

function getLength(str) {
    var len = str.length;
    var reLen = 0;

    for (var i = 0; i < len; i++) {
        if (str.charCodeAt(i) < 27 || str.charCodeAt(i) > 126) {
            // 全角
            reLen += 2;
        } else {
            reLen++;
        }
    }
    return reLen;
}
</script>
</head>

<body>
<div class="wrap">
    <div class="banner"></div>
	<div class="content">
        <div class="help">
            <a class="icon" href="javascript:;"></a>
            <div class="help_tips" id="help_tips"></div>
        </div>
        <a href="javascript:void(0)" class="refresh">刷新</a>
		<div class="main" id="main">
            <div class="list"></div>
        </div>
	</div>
</div>

</body>
</html>