!!! 5
html
	head
		title 11
		link(rel='stylesheet', href='../css/jScrollPane.css')
		link(rel='stylesheet', href='../css/index.css')
		script(src="../js/jquery.min.js")
		script(src="../js/jquery.mousewheel.js")
		script(src="../js/jScrollPane.js")
	body
		block content