body {
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #5c4625;
    background: #deceb4;
}

* {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

img {
    border: none;
    -ms-interpolation-mode: bicubic;
}

ul, li, dl, dt, dd, form {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clear {
    clear: both;
    float: none;
    height: 1px;
    overflow: hidden;
}

.clearfix {
    height: 0;
    clear: both;
    float: none;
    overflow: hidden;
    width: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    background: url(../images/body_bg.gif) repeat-x #deceb4;
}

.banner {
    background: url(../images/banner.jpg) no-repeat;
    width: 768px;
    height: 90px;
    margin: 0 auto;
}

.help {
    position: absolute;
    top: -90px;
    right: 70px;
    display: none;
}

.help .icon {
    background: url(../images/help.gif) no-repeat;
    width: 46px;
    height: 44px;
    display: block;
}

.help .help_tips {
    background: url(../images/help_tips.png) no-repeat !important;
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '../images/help_tips.png', sizingMethod = 'crop');
    width: 275px;
    height: 70px;
    position: absolute;
    left: -160px;
    display: none;
}

.content {
    width: 768px;
    margin: 0 auto;
    padding: 15px 0 0 0;
    position: relative;
}

.main {
    font-family: "微软雅黑";
    width: 768px;
    height: 100%;
    overflow: hidden;
}

.content .item {
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    background: url(../images/sticker_bg.png) no-repeat !important;
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '../images/sticker_bg.png', sizingMethod = 'crop');
    width: 68px;
    height: 52px;
    padding: 20px 10px;
    text-align: center;
    overflow: hidden;
    float: left;
    display: inline;
    margin: 0 5px 10px 8px;
}

.content .big {
    background: url(../images/sticker_bg_big.png) no-repeat !important;
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '../images/sticker_bg_big.png', sizingMethod = 'crop');
    width: 110px;
    height: 95px;
    padding: 25px 20px 25px 10px;
}

/*滚动条*/
.content .jScrollPaneDrag {
    background: url(../images/drag_middle.gif) repeat-y;
}

.content .jScrollPaneDragTop {
    background: url(../images/drag_top.gif) no-repeat;
    height: 10px;
}

.content .jScrollPaneDragBottom {
    background: url(../images/drag_bottom.gif) no-repeat;
    height: 10px;
}

.content .jScrollPaneDragHover {
    background: url(../images/drag_middle.gif) repeat-y;
}

.content .jScrollPaneDragTopHover {
    background: url(../images/drag_top.gif) no-repeat;
    height: 10px;
}

.content .jScrollPaneDragBottomHover {
    background: url(../images/drag_bottom.gif) no-repeat;
    height: 10px;
}

.tips {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px #b89d73 solid;
    background: #d4bc96;
    width: 110px;
    padding: 5px;
    height: auto;
    color: #6b5025;
    z-index: 999;
    line-height: 18px;
}

.tips .arrow {
    position: absolute;
    left: 14px;
    top: -7px;
    display: block;
    background: url(../images/arrow.gif) no-repeat;
    width: 11px;
    height: 7px;
}

.tips .name {
    color: #936112;
}

.edit_con {
    font-size: 14px;
    padding: 50px 20px 0 35px;
    display: none
}

.edit_con ul {
    margin-bottom: 20px;
}

.edit_con li {
    float: left;
    display: inline;
}

.edit_con .name {
    color: #7d5c22;
}

/*.edit_con .word {*/
    /*background: url(../images/word_bg.jpg) no-repeat !important;*/
    /*background: url(../images/word_bg.jpg) fixed no-repeat;*/
    /*width: 296px;*/
    /*height: 83px;*/
    /*padding: 14px 20px 10px 25px;*/
    /*border: none;*/
    /*resize: none;*/
    /*overflow-x: none;*/
    /*overflow-y: auto;*/
/*}*/
.edit_con .word_bg{background:url(../images/word_bg.jpg) no-repeat;height:87px; padding:10px 20px 10px 25px; }
.edit_con .word{width:305px; height:83px;border:none; resize:none; overflow-x:none; overflow-y:auto; background:none;}

.edit_con .btn_con {
    padding-left: 95px;
}

.edit_con .submit {
    display: block;
    width: 114px;
    height: 35px;
    overflow: hidden;
    background: url(../images/btn.gif) scroll 0 0 no-repeat;
}

.edit_con a.submit:hover {
    background: url(../images/btn.gif) scroll 0 -35px no-repeat;
}

.content .delete {
    position: absolute;
    display: block;
    top: 12px;
    right: 12px;
    background: url(../images/delete_icon.gif) no-repeat;
    width: 13px;
    height: 14px;
}

.content .big .delete {
    top: 17px;
    right: 17px;
}

.refresh{ position:absolute; right:10px; top:-80px; background:url(../images/refresh_icon.gif) left center no-repeat; _background-position:left top; padding-left:14px; color:#3d302f;font-family:"微软雅黑" ; font-size:14px;}
.refresh:hover{ text-decoration:underline;}